<style>
  body {
    transform: translate3d(0,0,0);
  }
  .hpex-main_{{instanceId}}.mainView {
    width: calc(100% - 2em);
    height: calc(100% - 48px - 1em);
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 48px 1em 1em 1em;
    text-align: left;
    padding: 1em;
    z-index: 100;
  }
  .hpex-main_{{instanceId}}.noDisplay {
    display: none;
  }
    .hpex-main_{{instanceId}}.mainView .tab-content {
    padding: 1em;
  }
  .hpex-main_{{instanceId}} .mt-1 {
    margin-top: 1em;
  } 
  .hpex-main_{{instanceId}} .mt-2 {
    margin-top: 2em;
  } 
  .hpex-main_{{instanceId}} .mt-3 {
    margin-top: 3em;
  }  
  .hpex-main_{{instanceId}} .ml-2 {
    margin-left: 2em;
  }   
  .hpex-main_{{instanceId}} textarea,
  .hpex-main_{{instanceId}} input[type='text'],
  .hpex-main_{{instanceId}} input[type='number'] {
    color: #000;
  }
  .hpex-main_{{instanceId}} .w-10  {
    width: 10em;
  }
  .hpex-main_{{instanceId}} .wp-100  {
    width: 100%;
  }
  .hpex-main_{{instanceId}} .h-25  {
    height: 25em;
  }  
  .hpex-main_{{instanceId}} .italics {
    font-style: italic;
  }
  .hpex-main_{{instanceId}} .bg-white {
    background-color: #fff;
  }
  .hpex-main_{{instanceId}} .iblock { 
    display: inline-block;
  }
  .hpex-main_{{instanceId}} .theater_demo_main {
    position: relative;
    width: 120px;
    height: 177px;
  }
  .hpex-main_{{instanceId}} .theater_demo_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  #theaterModeMainEl_{{globalUuid}} {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    background-color: {{config.theaterMode.color}};
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  .hideMainHideDrawer_{{globalUuid}} {
    top: 0 !important;
    left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .hpex-main_{{instanceId}} input[disabled] {
    background: rgba(170,170,170)
  }
</style>

<!-- DRAWER -->
<div class="hpex-main_{{instanceId}} hpex-drawer" ng-if="isDrawer()" ng-class="{'noDisplay': !config.isShowInDrawer}"
  ng-controller="HPExDrawerCtrl">
  <span class="glyphicon glyphicon-wrench"></span> <span>{{header}}</span>
</div>
<!-- MAIN -->
<div class="hpex-main_{{instanceId}} scrollable box mainView" ng-if="!isDrawer()">
  <style>
    .gridster li.gridster-item,
    .gridster  {
      position: absolute;
      width: calc(100% - .5em) !important;
      height: calc(100% - .5em) !important;
      top:0;
      left:0;
      overflow: hidden;
    }
  </style>
  <div class="main-content">

    <!-- GENERAL -->
    <uib-tabset>
      <uib-tab heading="General" select="setActiveTab('General')">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="config.isShowInDrawer" />
            <span>Show in drawer</span>
            <div>
              <p class="mt-1">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;If checked, a row in the dashboard is added.
                Otherwise, it is not included.
                If you unchecked it, you can only access this settings page through the main <a href="#/">Dashboard
                  Page</a>.
              </p>
            </div>
          </label>
        </div>
      </uib-tab>

      <!-- SCREEN -->
      <uib-tab heading="Screen" select="setActiveTab('Screen.ScreenSaver')">
        <uib-tabset>
          <!-- SCREEN SAVER  -->
          <uib-tab heading="Screen Saver">
            <p class="italics">
              <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Screen saver rotates dashboard panels.
            </p>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="config.screensaver.isEnabled" />
                <span>Enabled</span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="config.screensaver.isFullScreen" ng-disabled="!config.screensaver.isEnabled" />
                <span>FullScreen</span>
                <div>
                  <p class="mt-1"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;When enabled, the screen
                    saver will enter
                    in full screen mode, which will hide both the drawer and the header.</p>
                </div>
              </label>
            </div>

            <div class="mt-1">
              <label for="ss_idleTimeout">Idle Timeout: </label>
              <div>
                <input ng-disabled="!config.screensaver.isEnabled" class="form-control col-xs-3" type='number' id="ss_idleTimeout"
                  ng-model="config.screensaver.timeoutSeconds" required="true"></input>
                <div>
                  <p>Seconds of being idle until screensaver kicks in</p>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <label for="ss_duration">Switching Time: </label>
              <div>
                <input ng-disabled="!config.screensaver.isEnabled" class="form-control col-xs-3" type='number' id="ss_duration"
                  ng-model="config.screensaver.durationSeconds" required="true"></input>
                <div>
                  <p>Number of seconds per dashboard (before it switches to the next one)</p>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <label for="ss_dashboardIds">Dashboard List: </label>
              <div>
                <input ng-disabled="!config.screensaver.isEnabled" class="form-control" type='text' id="ss_dashboardIds"
                  ng-model="config.screensaver.dashboardList"></input>
                <div>
                  <p class="mt-1"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Comma (,) separated list of
                    dashboards to rotate. (hint: you can put only 1 dashboard id). If
                    this is
                    empty,
                    this will rotate <strong>ALL</strong> the dashboards. You can order it however you want, and even
                    put
                    duplicates if you desire.</p>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <label for="ss_homeScreenId">Home Screen: </label>
              <div>
                <input ng-disabled="!config.screensaver.isEnabled" class="form-control" type='text' id="ss_homescreen"
                  ng-model="config.screensaver.homeScreen"></input>
                <div>
                  <p class="mt-1"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Dashboard id to use as a homescreen.
                  This dashboard will be shown when the screensaver is dismissed.
                  If left blank the current dashboard will remain.</p>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <label>Available Panel IDs: </label>
              <div>
                <div>
                  <p>List of all possible Panel IDs.</p>
                </div>
                <textarea class="form-control" readonly="true">{{::availablePanelIds}}</textarea>
              </div>
            </div>
          </uib-tab>

          <!-- THEATER MODE -->
          <uib-tab heading="Theater Mode" ng-init="config.theaterMode.color = config.theaterMode.color || 'rgba(0,0,0,0.90)'"
            select="setActiveTab('Screen.TheaterMode')">
            <p class="italics">
              <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Theater mode changes the screen brightness/color
            </p>
            <div class="checkbox mt-2">
              <label>
                <input type="checkbox" ng-model="config.theaterMode.isEnabled" />
                <span>Enabled</span>
              </label>
            </div>
            <div class="mt-1">
              <label for="tm_color ">Color:</label>
              <div>
                <input ng-disabled="!config.theaterMode.isEnabled" class="form-control" type='text' id="tm_color"
                  ng-model="config.theaterMode.color"></input>
              </div>
              <div>
                <p class="italics">
                  <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Color of the overlay. Any valid <a href="https://htmlcolorcodes.com/">HTML
                    COLORS</a>. Examples: #FFF #232323 rgb(20,20,20) rgba(20,20,20,.75)
                </p>
              </div>
            </div>
            <div class="mt-2">
              <div class="row">
                <div class="col-xs-4" for="tm_triggering_item">Triggering Item (Optional): </div>
                <div class="col-xs-8">
                  <item-picker id="tm_triggering_item" ng-model="config.theaterMode.triggeringItem" filter-type="Switch"></item-picker>
                  <div>
                    <p class="mt-1"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;When this <strong>Switch</strong>
                      item receives an <span class="text-success">ON</span>/<span class="text-danger">OFF</span>
                      command, the theater mode will turn <span class="text-success">ON</span>/<span class="text-danger">OFF</span>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h3>Overlay Demo</h3>
              <div class="theater_demo_main">
                <img src="/static/habpanelex/img/lc.jpg">
                <div class="theater_demo_overlay" style="background-color: {{config.theaterMode.color}}"></div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </uib-tab>

      <!-- ADVANCED -->
      <uib-tab class="pull-right" heading="Advanced" select="setActiveTab('Advanced')">
        <div>
          <h4>Raw Config</h4>
          <p>Configuration is saved to a <strong>String Item</strong> <em>{{::panelConfigItem}}</em></p>
          <textarea class="wp-100 h-25" readonly>{{config|json}}</textarea>
        </div>
        <div class="mt-1">
          <label for="panelConfigItem">String Item</label>
          <div>
            <input class="form-control" type='text' id="panelConfigItem" ng-model="panelConfigItem" ng-disabled="isAccepted!=='I understood'"></input>
            <div>
              <p class="mt-1"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                Change config item. When you change this to an existing String item,
                HabPanelEx will attempt to load that configuration. If the item <strong>DOES NOT</strong> exist,
                HabPanelEx will create one. Be careful. If the String Item exists, it's value/state will be overriden.
                <br />
                This allows you to have different configurations per device. You can also share configuration between
                devices. You just have
                to know the configuration String Item name. The String Item name is saved onto your browser's
                localStorage.
              </p>
              <div ng-if="isAccepted=='I understood'">
                <div>
                  <item-picker ng-model="panelConfigItem" filter-type="String"></item-picker>
                </div>
                <div>Load existing config. Select the String item above and hit Load. <button class="btn btn-danger" ng-click="loadExisting(panelConfigItem)">Load</button></div>                
                <p>
                  <span class="glyphicon glyphicon-info-sign"></span>&nbsp;After you load, you will still need to save
                  the changes.
                </p>
              </div>
              <input class="form-control mt-2" type="text" placeholder="Type 'I understood' here to edit the string item above or load a different one."
                ng-model="isAccepted">
            </div>
          </div>
        </div>
        <div class="action mt-2" ng-if="isAccepted=='I understood'">
          <button ng-click="saveNewConfig(panelConfigItem)" class="btn btn-primary">
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;<span>Save</span>
          </button>
          <button ng-click="cancelNewConfig()" class="btn btn-danger pull-right">
            <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;<span>Cancel</span>
          </button>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="action" ng-if="activeTab!='Advanced'">
    <button ng-click="saveConfig()" class="btn btn-primary">
      <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;<span>Save</span>
    </button>
    <button ng-click="cancelConfig()" class="btn btn-danger pull-right">
      <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;<span>Cancel</span>
    </button>
  </div>
</div>